<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded" style="background-color: #202124">
  <div class="rounded-t mb-0 px-4 py-3 border-0" style="background-color: #202124">
    <div class="flex flex-wrap items-center" style="background-color: #202124">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-blueGray-200">Competitions</h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
        <button
          class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold px-3 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="showDialog()"
        >
          Create New
        </button>
      </div>
    </div>
  </div>
  <p-dialog
    header="Create new competition"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '40vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form>
      <div class="flex justify-center items-center gap-6">
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="username"> Location </label>
          <input
            type="text"
            class="border-0 px-3 py-3 border-blueGray-300 border placeholder-blueGray-300 text-blueGray-600 rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="location"
            style="background-color: #202124"
          />
        </div>
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="username"> Species </label>
          <input
            type="text"
            class="border-0 px-3 py-3 border-blueGray-300 border placeholder-blueGray-300 text-blueGray-600 rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="species"
            style="background-color: #202124"
          />
        </div>
      </div>
      <div class="flex justify-center items-center gap-6">
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="username"> Minimum Participants </label>
          <input
            type="text"
            class="border-0 px-3 py-3 border-blueGray-300 border placeholder-blueGray-300 text-blueGray-600 rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="min participants"
            style="background-color: #202124"
          />
        </div>
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="username"> Maximum Participants </label>
          <input
            type="text"
            class="border-0 px-3 py-3 border-blueGray-300 border placeholder-blueGray-300 text-blueGray-600 rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="max participants"
            style="background-color: #202124"
          />
        </div>
      </div>
      <div class="text-center mt-6">
        <button
          type="submit"
          class="bg-indigo-500 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 float-right ease-linear transition-all duration-150"
        >
          Create Competition
        </button>
      </div>
    </form>
  </p-dialog>
  <div class="block w-full overflow-x-auto" style="background-color: #202124">
    <!-- Projects table -->
    <table class="items-center w-full justify-center" style="background-color: #202124">
      <thead style="background-color: #202124">
        <tr style="background-color: #202124">
          <th class="px-6 text-blueGray-500 align-middle py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Username
          </th>
          <th class="px-6 text-blueGray-500 align-middle py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Nationality
          </th>
          <th class="px-6 text-blueGray-500 align-middle py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Join Date
          </th>
          <th class="px-6 text-blueGray-500 align-middle py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Participations
          </th>
        </tr>
      </thead>

      <tbody *ngIf="!loading; else loadingSpinner">
        <tr *ngFor="let competition of competitions">
          <th
            class="flex justify-start items-center gap-6 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-300"
          >
            <img
              [src]="'https://flagcdn.com/w20/' + getCountryCodeFromLocation(competition.location) + '.png'"
              [alt]="competition.countryCode"
              class="h-4 w-6 object-cover"
            />
            {{ competition.location }}
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            [ngStyle]="{ color: competition.openRegistration == true ? 'green' : '#991B1B' }"
          >
            {{ competition.openRegistration == true ? 'Open' : 'Closed' }}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-300">
            {{ competition.date }}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-300">
            <i class="fas fa-arrow-up text-emerald-500 mr-4" *ngIf="competition.numberOfParticipants >= 100"></i>
            <i class="fas fa-arrow-down text-orange-500 mr-4" *ngIf="competition.numberOfParticipants < 100"></i>
            {{ competition.numberOfParticipants }}
          </td>
        </tr>
      </tbody>

      <ng-template #loadingSpinner>
        <div class="loading-spinner">
          <div class="spinner"></div>
        </div>
      </ng-template>
    </table>
    <div class="mb-5 mt-5 float-right mr-4">
      <a class="text-white px-3 py-1 rounded cursor-pointer" (click)="prevPage()">
        <i class="fas fa-angle-left"></i>
      </a>

      <span class="text-blueGray-500"> {{ page + 1 }} of {{ totalPages }} </span>

      <a class="text-white px-3 py-1 rounded cursor-pointer" (click)="nextPage()">
        <i class="fas fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
