<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded" style="background-color: #202124;"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0" style="background-color: #202124;">
    <div class="flex flex-wrap items-center" style="background-color: #202124;">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-blueGray-200">Page visits</h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
        <button
          class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold  px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
        >
          See all
        </button>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto" style="background-color: #202124;">
    <!-- Projects table -->
    <table class="items-center w-full justify-center" style="background-color: #202124;">
      <thead style="background-color: #202124;">
        <tr style="background-color: #202124;">
          <th
            class="px-6  text-blueGray-500 align-middle  py-3 text-xs  border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Username
          </th>
          <th
            class="px-6 text-blueGray-500 align-middle py-3 text-xs  border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Nationality
          </th>
          <th
            class="px-6 text-blueGray-500 align-middle py-3 text-xs  border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Join Date
          </th>
          <th
            class="px-6 text-blueGray-500 align-middle py-3 text-xs  border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Participations
          </th>
        </tr>
      </thead>
      <div *ngIf="loading" class="loading-spinner">
        <div class="spinner"></div>
      </div>
      <tbody>
        <tr *ngFor="let member of members">
          <th class="flex justify-start items-center gap-6 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-300">
            <div
              class="avatar"
              [ngStyle]="{'background-color': getAvatarColor(member.username)}"
              style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; border-radius: 50%; color: white; font-weight: bold; font-size: 16px;">
              {{ getInitials(member.username) }}
            </div>
            <span>{{ member.username }}</span>
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-300"
          >
            {{member.nationality}}
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-300"
          >
          {{member.joinDate}}
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-300"
          >
            <i class="fas fa-arrow-up text-emerald-500 mr-4" *ngIf="member.participationCount>=1000"></i>
            <i class="fas fa-arrow-down text-orange-500 mr-4" *ngIf="member.participationCount<1000"></i>
            {{member.participationCount}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mb-5 mt-5 float-right mr-4">
      <a
        class="text-white px-3 py-1 rounded cursor-pointer"
        (click)="prevPage()"
      >
        <i class="fas fa-angle-left"></i>
      </a>

      <span class="text-blueGray-500">
        {{ page + 1 }} of {{ totalPages }}
      </span>

      <a
        class="text-white px-3 py-1 rounded cursor-pointer"
        (click)="nextPage()"
      >
        <i class="fas fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>

<style>
  .loading-spinner {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #6366F1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }


</style>
